/* title */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

/* body */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Serif+Pro:ital,wght@1,200&display=swap');


:root{
    --font-title:"Source Serif Pro, serif";
    --font-body: "sans-serif ";

}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-image:linear-gradient(90deg, #A9F1DF , #FFBBBB) ; */
    background-color: #bae9dd;
    font-family: var(--font-body);
     
}


 .main{
    width: 90%;
    position: absolute;
    height:100px;
    top: 10px;
    left: 20px;
    outline:1px solid #852020;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}



/* title */

#title{
    background-color:#bae9dd;
    color: grey;
    font-family: var(--font-title);
    border: none;
    width: auto;
    height: 30%;
    text-align: left;
    border-radius: 5px;
    border-bottom-right-radius: 0px;

}


#title:focus{
    outline: none;
}

/* note */

#note{
    background-color:#bae9dd;
    color: grey;
    font-family: var(--font-title);
    width:auto;
    height:70%;
    border: none;
    border-radius: 5px;
    border-top-right-radius: 0px;
   
}

#note:focus{
    outline: none;
}



#add-btn{
    position: relative;
    top: 80px;
    left: 85%;
    border:none ;
    color: rgb(172, 44, 44);
    background-color: #FFBBBB;
    outline:1px solid #8d6262;
    border-radius:2px ;
    cursor: pointer ;

}

#add-btn:hover{
    background-color:  rgb(223, 216, 216);
    color: #FFBBBB;
    transition: ease-in-out 0.5s;
}

/* Body  */

.section{
    position: relative;
    display:flex;
    top:120px ;
    left:2%;
    flex: auto;
    width:90%;
    height: auto;
    flex-wrap: wrap;
}

.body-container{
    width: 30%;
    height: fit-content;
    outline: 1px solid red;
    flex: 1 1 100px;
    padding:10px ;
    margin: 10px;
    border-radius:10px ;
    
}

.title{
    position: relative;
    top: -20px;
    color: #852020;
    text-align: left;
}

.body{
    position: relative;
    width: 90%;
    height:80%;
    top: -40px;
    font-size: small;
    text-align: left;
    display: flex;
    flex: 1 1 auto;
}


.btn{
    position: relative;
    width:40%;
    margin: 10px;
    border-radius:2px;

}

 .open-btn{
    width: 100%;
    border:1.2px solid #c02a2a;
    position: relative;
    top: -21px;

}

.delete-btn{
      position: relative;
      left: 130%;
      top: -50px;
      width: 100%;
      border:1.2px solid #c02a2a;
 
}
