/* title */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

/* body */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Serif+Pro:ital,wght@1,200&display=swap');


:root{
    --font-title:"Source Serif Pro, serif";
    --font-body: "Roboto', sans-serif ";

}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image:linear-gradient(120deg, #A9F1DF , #FFBBBB) ;
     
}


 main{
    width: 90%;
    position: absolute;
    height: 30%;
    top: 10px;
    left: 20px;
    outline:1px solid #852020;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}



/* title */

#title{
    background-color:#bae9dd;
    color: grey;
    font-family: var(--font-title);
    border: none;
    width: auto;
    height: 30%;
    text-align: left;
    border-radius: 5px;
    border-bottom-right-radius: 0px;

}


#title:focus{
    outline: none;
}

#note{
    background-color:#bae9dd;
    color: grey;
    font-family: var(--font-title);
    width:auto;
    height:70%;
    border: none;
    border-radius: 5px;
    border-top-right-radius: 0px;
   
}

#note:focus{
    outline: none;
}



#add-btn{
    position: relative;
    top: 95px;
    left: 85%;
    border:none ;
    color: rgb(172, 44, 44);
    background-color: #FFBBBB;
    outline:1px solid #8d6262;
    border-radius:2px ;
    cursor: pointer ;

}

#add-btn:hover{
    background-color:  rgb(223, 216, 216);
    color: #FFBBBB;
    transition: ease-in-out 0.5s;
}

/* Body  */

section{
    display:flex;
    position: relative;
    top: 110px;
    left:4%;
    flex: auto;
    width: 90%;
    flex-wrap: wrap;
}

.body-container{
    width: 200px;
    height: 100px;
    outline: 1px solid red;
    flex: 1 1 100px;
    padding:10px ;
    margin: 10px;
    border-radius:2px ;
    
}

.title{
    position: relative;
    top: -20px;
    color: #852020;
    text-align: center;
}

.body{
    position: relative;
    top: -40px;
    font-size: small;
    text-align: center;

}

.delete-btn{
    position: relative;
    top: -50px;
    left: 10px;
    margin: 10px;
    border-radius:2px ;

}