/* title */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

/* body */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Serif+Pro:ital,wght@1,200&display=swap');

/* ideas to implement
1. Adding slowly appearing animation
2. while loading rendering animation






*/
:root{
    --font-title:"Source Serif Pro, serif";
    --font-body: "sans-serif ";
    --border-color: rgb(243, 232, 232);
    --font-color:rgb(68, 45, 45);
    --btn-primary: #e9b3b3;


}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image:linear-gradient(90deg,  #df8756 , #be8484) ;
    font-family: var(--font-body);
    
     
}


 .main{
    width: 90%;
    position: absolute;
    height:100px;
    top: 10px;
    left: 20px;
    outline:1px solid var(--border-color);
    border-radius: 5px;
    opacity: 0.9;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}



/* title */

#title{
    background-image:linear-gradient(90deg,  #df8756 , #be8484) ;
    color: var(--font-color);
    font-family: var(--font-title);
    border: none;
    width: auto;
    height: 30%;
    text-align: left;
    border-radius: 5px;
    border-bottom-right-radius: 0px;

}


#title:focus{
    outline: none;
}

/* note */

#note{
    background-image:linear-gradient(to right,  #df8756 , #be8484) ;
    color: var(--font-color);
    font-family: var(--font-title);
    width:auto;
    height:70%;
    border: none;
    border-radius: 5px;
    border-top-right-radius: 0px;
   
}

#note:focus{
    outline: none;
}



#add-btn{
    position: relative;
    top: 80px;
    left: 85%;
    border:none ;
    color:var(--font-color);
    background-color: var(--btn-primary);
    outline:1px solid #8d6262;
    border-radius:2px ;
    cursor: pointer ;
    opacity: 0.5;

}

#add-btn:active{
    background-color:  rgb(223, 216, 216);
    color: #FFBBBB;
    transition: linear 0.2s;
}

/* Body  */

.section{
    position: relative;
    display:flex;
    top:120px ;
    left:2%;
    flex: auto;
    width:90%;
    height: auto;
    flex-wrap: wrap;
}

.body-container{
    width: 30%;
    min-height:100px;
    outline: 1px solid var(--border-color);
    flex: 1 1 100px;
    padding:10px ;
    margin: 10px;
    border-radius:10px ;
    
}

.title{
    position: relative;
    top: -20px;
    color:var(--border-color);
    text-align: left;
}

.body{
    position: relative;
    width: 90%;
    height:80%;
    top: -40px;
    font-size: small;
    text-align: left;
    display: flex;
    flex: 1 1 auto;
    color: var(--font-color);
}


.btn{
    position: relative;
    width:40%;
    margin: 10px;
    border-radius:2px;
    opacity: 0.5;
   

}

 .open-btn{
    width: 100%;
    border:1.2px solid var(--border-color);
    position: relative;
    top: -21px;
    color:var(--font-color);
    background-color: var(--btn-primary);

}

.delete-btn{
      position: relative;
      left: 130%;
      top: -50px;
      width: 100%;
      border:1.2px solid var(--border-color);
      color:var(--font-color);
      background-color: var(--btn-primary);
 
}
